In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.DataFrame({'x1' : [10, 5, 7], 'x2' : [40, 36, 30], 'y' : [100, 73, 71]})
df

   x1  x2    y
0  10  40  100
1   5  36   73
2   7  30   71

In [19]:
def mse(X, y, w):
    n = len(y)
    loss = (1./n) * (np.linalg.norm(X @ w - y)**2 )
    return loss

In [26]:
def gradient_descent(X, y, learning_rate, iterations):
    X = np.hstack((np.ones((X.shape[0], 1)), X))
    weights = np.random.rand(X.shape[1])
    m = weights.shape[0]
    cost = np.zeros((iterations, 1))
    
    for i in range(iterations):
        weights = weights - 2./ m * learning_rate * (X.T @ ((X @ weights) - y))
        cost[i] = mse(X, y, weights)
        
    return cost,  weights

In [27]:
def predict(X, params):
    X = np.hstack((np.ones((X.shape[0], 1)), X))
    return X @ params

In [32]:
cost , weights = gradient_descent(df[['x1', 'x2']], df['y'], 0.0001, 5000)

In [33]:
print(weights)

[0.31938806 3.93930966 1.47850288]

In [5]:
x = np.random.rand(3,3)

In [6]:
x

array([[0.40041619, 0.8444794 , 0.16082001],
       [0.3453962 , 0.1365732 , 0.97670388],
       [0.26678627, 0.49564965, 0.32658154]])

In [8]:
x.loc[1]

AttributeError: 'numpy.ndarray' object has no attribute 'loc'